{% extends 'base.html'%}

{% block content %}
{% if user == current_user %}
    <a href="{{url_for('main.updateprofile',name=user.username)}}">Edit profile</a>
{% endif %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div id="profile" class="col-md-4">
    <h4> Name: <h4>
      {{user.username}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <h4>Bio: <br>
        {{user.bio}}</h4>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>

</div>
</div>
{% endblock %}