*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color: rgb(255, 145, 0);
}
#head{
   margin: 0%;
    text-align: center;
    height: 30vh;
}

#carded h5 {
   color: rgb(255, 145, 0);
   text-align: center;

}
body{
    background-color: aquamarine;
}
.foot{
    display: inline-flex;
    padding-inline: 20px;
}
.comment{
    align-self: center;
    text-align: center;
}
.profile p{
    color: rgb(255, 145, 0);
}