{% extends 'bootstrap/base.html'%}

{%block styles %}
  {{super()}}
  <!--Importing the simple mde css and js files  -->
  
    <!-- Css styling ...try it in our base html ===likely to work -->
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  
  {% endblock %}

  <body style="background-image: url(../static/pitch.jpg)" class="body" >
<!-- Navbar block  --> 
{% block navbar %}
    {% include 'navbar.html' %}
{%endblock%}